version: "3"
services:
  api:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - db

  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: airbnb_db
    volumes:
      - ./db_setup.sql:/docker-entrypoint-initdb.d/db_setup.sql
